:root{
  --corp1: hsl(148, 38%, 91%);
  --corp2: hsl(169, 82%, 27%);
  --corp3: hsl(0, 66%, 54%);
  --corn1: hsl(0, 0%, 100%);
  --corn2: hsl(186, 15%, 59%);
  --corn3: hsl(187, 24%, 22%);
  --font1: 400 1rem 'karla', sans-serif; 
  --font2: 600 1rem 'karla', sans-serif; 
  --font3: 600 2rem 'karla', sans-serif; 
}

h1,h2,h3,h4,p,body{
  margin: 0px;
  padding: 0px;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--corp1);
  flex-direction: column;
  position: relative;
}

form{
  display: flex;
  flex-direction: column;
  background-color: var(--corn1);
  padding: 24px;
  border-radius: 8px;
  margin: 16px;
  gap: 16px;
}

form h1{
  font: var(--font3);
  color: var(--corn3);
  margin-bottom: 12px;
}

form label span, form h2 span{
  color: var(--corp2);
}

label{
  display: block;
  font: var(--font1);
}

label, h2{
  margin-bottom: 8px;
}

input[type="text"], input[type="email"], textarea{
  width: 100%;
  resize: none;
  border: 1px solid var(--corn3);
  border-radius: 6px;
  padding: 0.5rem 0px;
  min-width: 250px;
  min-height: 20px;
  cursor: pointer;
  outline: none;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover{
  border-color: var(--corp2);
}



textarea{
  min-height: 60px;
}

input[type="radio"], input[type="checkbox"]{
appearance: none;
position: absolute;
}

input[type="checkbox"]+ label{
  border: 2px solid transparent;
  box-sizing: border-box;
}

input[type="radio"]:focus + label, input[type="checkbox"]:focus + label{
  border: 2px solid var(--corn3);
}

input[type="radio"] + label{
  padding: 10px 0px 10px 40px;
  width: 100%;
  border: 1px solid var(--corn3);
  box-sizing: border-box;
  border-radius: 6px;
  font: var(--font1);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;

}

input[type="radio"]:checked + label{
  border-color: var(--corp2);
  background-color: var(--corp1);
}

input[type="radio"] + label::before{
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  padding: 2px;
  left: 10px;
  border-radius: 50%;
  border: 1px solid var(--corn2);
}

input[type="radio"]:checked + label::before{
  background: radial-gradient(circle, var(--corp2) 50%, #fff 50%);
  border-color: var(--corp2);
}

.radio-box{
  display: flex;
  align-items: center;
  gap: 8px;

}

.input-box-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 16px;
}

.input-box-div h2{
  font: var(--font1);
  grid-column: 1/-1;
}

input[type="checkbox"] + label{
  display: block;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

input[type="checkbox"] + label::before{
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--corn2);
  margin-right: 16px;
}

input[type="checkbox"]:checked + label::before{
  background-image: url(../images/icon-checkbox-check.svg);
  background-position: center;
}

button{
  padding: 12px 0px;
  cursor: pointer;
  font: var(--font2);
  border-radius: 6px;
  border: none;
  background-color: var(--corp2);
  color: var(--corn1);
}

button:hover{
  background-color: var(--corn3);
}

.error-message{
  display: none;
  font: var(--font1);
  color: var(--corp3);
}

.error-state .error-message{
  display: block;
}

.error-state input, .error-state textarea{
  border-color: red;
}

.response-div{
  position: fixed;
  top: 20px;
  background-color: var(--corn3);
  padding: 20px;
  border-radius: 8px;
  display: grid;
  gap: 12px;
  display: none;
}

.response-div div{
  display: flex;
  align-items: center;
  gap: 8px;
}

.response-div div h2, .response-error-div h2{
  margin: 0px;
  font: var(--font2);
  font-size: 1.125rem;
  color: var(--corn1);
}

.response-div p, .response-error-div p{
  color: var(--corn1);
  font: var(--font1);
}

.response-error-div{
  background-color: var(--corp3);
  padding: 20px;
  border-radius: 8px;
  position: fixed;
  top: 20px;
  display: none;
  gap: 12px;
}

.response-div.active, .response-error-div.active{
  display: grid;
}

@media (width <= 600px) {
  body{
    height: 100%;
  }
  .input-box-div{
    grid-template-columns: 1fr;
  }
}