:root{
  --corp1: hsl(14, 45%, 36%);
  --corp2: hsl(332, 51%, 32%);
  --corn1: hsl(0, 0%, 100%);
  --corn2: hsl(330, 100%, 98%);
  --corn3: hsl(30, 54%, 90%);
  --corn4: hsl(30, 18%, 87%);
  --corn5: hsl(30, 10%, 34%);
  --corn6: hsl(24, 5%, 18%);
}

h1,h2,h3,h4,p,body{
  margin: 0px;
  padding: 0px;
}

img{
  max-width: 100%;
  display: block;
}

ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;
}


.corp1{
  color: var(--corp1);
}

.corp2{
  color: var(--corp2);
}

.corn1{
  color: var(--corn1);
}

.corn2{
  color: var(--corn2);
}

.corn3{
  color: var(--corn3);
}

.corn4{
  color: var(--corn4);
}

.corn5{
  color: var(--corn5);
}

.corn6{
  color: var(--corn6);
}

.title{
  font-size: 4rem;
  font-family: "young serif";
  font-weight: 400;
}

.para1{
  font-size: 1.5rem;
  font-family: "Outfit";
  font-weight: 400;
}

.font-s{
  font-family: "outfit";
  font-weight: 600;
}

.subtitle{
  font-size: 3rem;
  font-family: "young serif";
  font-weight: 400;
  margin-bottom: 40px;
}

.list-1 {
  display: grid;
  gap: 16px;
}

.list-1 li {
  display: flex;
  align-items: center;
  gap: 32px;
}

.list-1 li .font-s {
 color: var(--corn6);
}

.list-1 li, .list-2 li, .list-3 li{
  font-family: "outfit";
  font-size: 1.5rem;
  color: var(--corn5);
}

.list-icon{
  display:block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: blue;
}

.list-2 {
  counter-reset: contador;
  display: grid;
  gap: 16px;
}

.list-2 li{
  position: relative;
}

.list-2 li::before{
  counter-increment: contador;
  content:counter(contador)".";
  font-family: "outfit";
  font-weight: 600;
  color: var(--corp1);
  position: absolute;
  left: -40px;
}

.list-3{
  margin-top: 40px;
}

.list-3 li{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 40px;
}

.list-3 li:nth-last-child(n + 2){
  border-bottom: 2px solid var(--corn4);
}

